/* .activities {
  font-size: 20px;
  padding: 150px;
}

.activities */

.acc {
  margin-top: 80px;
  margin-left: 200px;
  line-height: 40px;
  /* background: url("images/images.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 24px;
}

.activities ul {
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .acc {
    margin-left: 0px;
  }
}
